@media (min-width: 768px) {

  #menuButton {
    display: none;
  }

  nav {
    display: block;
    width: auto;
  }

  nav ul {
    flex-direction: row;
    justify-content: center;
  }

  nav a {
    padding: 0.5rem 1rem;
  }

  .gallery {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
}
